
%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    %a.filter-link{href: books_path}
      = t('shop.all')
      %span.badge.general-badge= @book_count
  %li.mr-35
    %a.filter-link{href: "#"}
      - @categories.each do |category|
        %li.mr-35
          .filter-link
            = link_to category.name, books_path(category: category.id), class: 'collapse-link'
            %span.badge.general-badge= category.books.count
