.general-info-wrap.divider-lg#description
  %p= t('book.description')
  %p.lead.small.line-height-2
    = @book.description
    = link_to t('book.less'), @book, class: 'in-gold-500 ml-10', remote: true
