.general-info-wrap.divider-lg#short_description
  %p= t('book.description')
  %p.lead.small.line-height-2
    = truncate(@book.description, length: Constants::DESCRIPTION_LIMIT)
    - if @book.description.size > Constants::DESCRIPTION_LIMIT
      = link_to t('book.more'), @book, class: 'in-gold-500 ml-10', remote: true
